{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">

    <br>
    <div>
    <h5>YAZILIM NEDİR?</h5>
    <br>
    En yalın tanımıyla yazılım; elektronik bir donanımı, belirli bir işi yapması için derlenmiş komutların bütünüdür. Bu komutlar işlemcilerde işlenerek bir olaya dönüştürülür. Peki Türk Dil Kurumu Sözlüğü‘ne göre yazılım nedir? diye baktığımızda şu tanımla karşılaşıyoruz; Bir bilgisayarda donanıma hayat veren ve bilgi işlemde kullanılan programlar, yordamlar, programlama dilleri ve belgelemelerin tümü. (TDK Sözlük) Yazılım aslında hayatımızın her alanındadır. Bu haliyle yazılım aslında hayatımızı kolaylaştırır. Bilgisayarlar, telefonlar, televizyonlar, mobil teknoloji, internet, sanayide kullanılan yeni nesil cihazların neredeyse tamamı, otomotiv, inşaat, eğitim, reklam, pazarlama, iletişim, medya, eğlence, sağlık başta olmak üzere hemen hemen tüm sektörlerde, uzay sanayisinde, günlük hayatta kullanılan bazı teknik aksesuarlarda kısacası “yazılım” gerçekten de yaşamın her alanındadır.
    <br>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBRX5elTUXuERVhUrwDhN6RQkLgoxXhz_kIQ&usqp=CAU" width="200" height="150" alt="image">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUFAZYGGk0Vun20mSoTVCKpnruyk5mUTO7g&usqp=CAU" width="200" height="150" alt="image">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <img src="https://st2.depositphotos.com/1427101/7154/i/950/depositphotos_71546805-stock-photo-program.jpg" width="200" height="150" alt="image">
    </div>
    <br>
    <hr>
</div>

{% endblock body %}